@page "/"
@using Pathfinder.Services
@using Pathfinder.Constants
@using System.Text.RegularExpressions
@inject ISnackbar _snackbar
@inject ICompilationService _compilationService

<PageTitle>PathFhinder</PageTitle>

<MudGrid Class="pt-4">
    <MudItem xs="12">
        <MudPaper Class="flex-row pt-4 pb-4 pr-4 pl-4">
            <MudTextField @bind-Value="FhirPathInput" TextChanged="OnInputChanged" T="string" MaxLength="-1" HelperText="Enter your FHIRPath here" Immediate="true" Variant="Variant.Text"/>
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="flex-row pt-4 pb-4 pr-4 pl-4">
            <MudList Clickable="false" DisablePadding="true" Dense="@true" DisableGutters="@true">
                @foreach (var output in Output)
                {
                    <MudListItem>
                        <p style="white-space: pre-wrap;">@output</p>
                    </MudListItem>
                }
            </MudList>
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="flex-row pt-4 pb-4 pr-4 pl-4">
            <MudTextField @bind-Value="ResourceInput" TextChanged="OnInputChanged" T="string" MaxLength="-1" Label="Paste your resource as JSON" Variant="Variant.Text" Immediate="true" Lines="30"/>
        </MudPaper>
    </MudItem>
</MudGrid>

@code
{
    private string? FhirPathInput { get; set; } = ApplicationConstants.DefaultFhirPath;

    private string? ResourceInput { get; set; } = ApplicationConstants.DefaultResource;

    private IEnumerable<string> Output { get; set; } = new List<string>();

    private void OnInputChanged()
    {
        Output = new List<string>();
        if (FhirPathInput is null or "")
        {
            Output = Output.Append("FHIRPath input is empty.");
            return;
        }

        if (ResourceInput is null or "")
        {
            Output = Output.Append("Resource input is empty.");
            return;
        }

        Output = _compilationService.Compile(FhirPathInput, ResourceInput);
        Output = FormatOutput(Output);
    }

    private static IEnumerable<string> FormatOutput(IEnumerable<string> output)
    {
        // Remove quotes
        var formattedOutput = output.Select(s => s.Replace("\"", string.Empty));
        // Remove JSON formatting
        formattedOutput = formattedOutput.Select(s => Regex.Replace(s, @"[{}[\],]", string.Empty, RegexOptions.Multiline));
        // Remove blank lines
        formattedOutput = formattedOutput.Select(s => Regex.Replace(s, @"^\s+$[\r\n]*", string.Empty, RegexOptions.Multiline));
        // Remove leading whitespace
        formattedOutput = formattedOutput.Select(s => s.TrimStart('\r', '\n'));
        return formattedOutput;
    }
}